# This is a sample config file that does not have multiple solr instances. You will also need to be sure to
# edit the fedora.yml file to match the solr URL for active-fedora. 
development:
  url: http://{{ tcdev_name }}:{{ tcdev_port }}/{{ solr_collection }}
test: 
  url: http://{{ tcdev_name }}:{{ tcdev_port }}/{{ solr_collection }}
production:
  url: http://{{ tcprod_name }}:{{ tcprod_port }}/{{ solr_collection }}
